@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(255, 255, 255);
}

#content {
  height: 100%;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

#map {
  border: solid gray 1px;
  display: block;
  margin: 0 auto;
  aspect-ratio: 1;
  width: 100%;
}

#info {
  width: 100%;
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#score {
  font-weight: bold;
}

#controls > * {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

button {
  padding: 1rem;
  font-size: 1rem;
  flex-basis: 8rem;
  flex-grow: 1;
  border: solid grey 1px;
}

#controls label > * {
  display: inline-block;
  flex-basis: 10rem;
  flex-grow: 1;
}

label input,
label select {
  padding: 0.5rem;
  margin-left: 1rem;
}

/* @media screen and (max-width: 600px) {
  label > * {
    width: 40%;
  }
} */
